################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Design_Patterns/.vs/Design_Patterns/v15/Server/sqlite3
